* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  overflow-y: scroll;
}

.mycontainer {
  display: grid;
  grid-template-columns: 1000px 1fr;

  gap: 25px;
  margin-top: 20px;
  background-color: rgb(223, 223, 223);
}
.mycontainer > div {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 850px) {
  .mycontainer {
    display: flex;
    flex-direction: column;
  }
}
.images-2 {
  width: 100%;
  height: auto;
  margin-right: 50px;
}
.textbox {
  font-family: "sans";
  line-height: 150%;
}
.imge-4 {
  width: 100px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
