* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,

    rgb(255, 255, 255) 50%,

    #faf9f7 50%
  );
}

.mycontainer {
  display: grid;
  grid-template-columns: 1100px 1fr;
  padding: 10px;
  gap: 10px;
  margin-top: 50px;
}
.mycontainer > div {
  border: 1px rgb(231, 238, 231) solid;
}
@media only screen and (max-width: 850px) {
  .mycontainer {
    display: flex;
    flex-direction: column;
  }
}
.images-2 {
  width: 100%;
  height: auto;
}
.textbox {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: Libre + Franklin;
  padding-top: 20px;
}
