* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #fcf6f6 55%, white 45%);
}

.factory {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 550px;
  gap: 10px;
  margin-top: 100px;
  padding: 10px;
}
.factory > div {
}
.image-1 {
  width: 100%;
  height: auto;
}
.div-3 {
  grid-column: 3 / span 5;
}
.div-5 {
  grid-column: 1 / span 2;
}
