* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #faf9f7 55%, white 45%);
  overflow: hidden;
  overflow-y: scroll;
}
.bigcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  align-items: center;
  margin: 20px;
  font-family: "sans";
  margin-left: 150px;
  margin-top: 150px;
}
.bigcontainer::after {
  width: 98vw;

  position: absolute;
  z-index: -1;
  right: 0;
}

.bigcontainer > div {
  width: 50%;
  height: 50%;
  padding: 18px;
}

.box1 {
  margin-bottom: 20px;
}

.box3 {
  display: flex;
  gap: 10px;
}

.box3 img {
  width: 45%;
  height: 30rem;
}
.box2 img {
  width: 70%;
}

@media screen and (max-width: 908px) {
  .bigcontainer > div {
    width: 100%;
    height: max-content;
    flex: 0 0 100%;
  }
  .bigcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    align-items: center;
    margin: 20px;
    font-family: "sans";
    padding: 15;
    margin-left: 0;
    margin-top: 150px;
  }
  .text-container {
    width: auto;
    margin-bottom: auto;
  }
  .testing {
    width: auto;
    margin: auto;
  }
  .box2 {
    order: 4;
  }
  .box2 img {
    width: 100%;
    height: 100%;
  }

  .box3 {
    flex-wrap: wrap;
  }

  .box3 img {
    width: 100%;
  }
  .box2 img {
    width: 100%;
  }

  .bigcontainer::after {
    display: none;
  }
}
.box1 {
  font-family: "sans";
  line-height: 150%;
}
.box4 {
  font-family: "sans";
  line-height: 150%;
}
h3 {
  font-size: 18px;
  font-weight: bolder;
}
.box4 h3 {
  padding-left: 15px;
}
.imge-4 {
  width: 100px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
.text-container {
  width: 600px;
  margin-bottom: 150px;
}
.testing {
  width: 600px;
  margin-left: 20px;
}
@media screen and (max-width: 568px) {
  .bigcontainer > div {
    width: 100%;
    height: max-content;
    flex: 0 0 100%;
  }
  .bigcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    align-items: center;
    margin: 20px;
    font-family: "sans";
    padding: 15;
    margin-left: 0;
    margin-top: 150px;
  }
  .testing {
    width: auto;
    margin: auto;
  }
  .text-container {
    width: auto;
    margin-bottom: auto;
  }

  .box2 {
    order: 4;
  }
  .box2 img {
    width: 100%;
    height: 100%;
  }

  .box3 {
    flex-wrap: wrap;
  }

  .box3 img {
    width: 100%;
  }
  .box2 img {
    width: 100%;
  }

  .bigcontainer::after {
    display: none;
  }
}
