body {
  margin: 0;

  background: linear-gradient(
    to right,

    white 40%,

    #f8f3f3 40%
  );
}

.myImage {
  width: 1000px;
}
.containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.div-2 {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .containers {
    display: flex;
    flex-direction: column;
  }
  .myImage {
    width: 100%;
    height: auto;
  }
}
