* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #fcf6f6 50%, white 50%);
}
.mycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;
  height: 500px;
  margin-top: 150px;
}
.mycontainer > div {
  border: 1px rgb(231, 238, 231) solid;
}
@media only screen and (max-width: 768px) {
  .mycontainer {
    display: flex;
    flex-direction: column;
  }
}
.images-2 {
  width: 100%;
  height: auto;
}
.textbox {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Libre + Franklin;
  padding-top: 20px;
}
