* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #faf9f7 55%, white 45%);
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}
.texte-container {
  margin-top: 250px;
  background-color: red;
}
